.inventoryUser-container {
  ::ng-deep .p-dialog-header-icon {
    padding: 0px;
  }
  h2 {
    padding: 8px;
  }
  display: flex;
  flex-direction: column;
  label {
    margin: 10px;
  }
  ::ng-deep .input-row {
    width: 16rem;
    margin: 10px;
  }
  ::ng-deep .input-column {
    width: 97%;
    margin: 10px;
  }
}
.btn-modal {
  display: flex;
  justify-content: end;
  button {
    margin: 10px;
    background-color: #636e72;
  }
}
