<div class="signup-container">
  <h1>Register</h1>
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
  >
    <div>
      <mat-form-field class="form-field">
        <mat-label>User Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']"
          >Email is required!</mat-error
        >
        <mat-error *ngIf="email?.errors?.['email']"
          >Please enter a valid email!</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" />
        <mat-error *ngIf="password?.errors?.['required']"
          >Password is required!</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <button
        [disabled]="!signupForm.valid"
        type="submit"
        class="sub-btn"
        mat-raised-button
      >
        Create Account
      </button>
    </div>
    <!-- <div class="sign-up">
      <a href="#">Forget Password?</a>
    </div> -->
  </form>
  <div class="signup-footer">
    <p>Already have an account?</p>
    <a routerLink="/login">Log in</a>
  </div>
</div>
