<mat-toolbar>
  <span class="p-name">Inventory</span>
  <span class="example-spacer"></span>

  <div fxFlex fxLayout="row">
    <ul fxFlex fxLayoutAlign="flex-end" fxLayoutGap="10px">
      <li *ngIf="isAuth">
        <a routerLink="/inventory-dashboard/dashboard-view">Home</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/inventory-dashboard/dashboard-view">About</a>
      </li>

      <li *ngIf="isAuth">
        <a (click)="onLogout()" cursor="pointer">logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
