.login-container {
  width: 400px;

  margin: auto;
  background-color: white;
  //background-color: #f5f6fa;
  border-radius: 10px;
  margin-top: 6rem;
  padding: 30px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);

  h1 {
    text-align: center;
    font-weight: 500;
  }
  .form-field {
    // width: 300px;
    label {
      font-size: 14px;
      font-weight: 500;
    }
    input {
      border-radius: 10px;
      width: 350px;
      height: 40px;
      margin: 5px;
      font-size: 14px;
      font-weight: 500;
    }
  }
  ::ng-deep button {
    width: 355px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 3px;

    background-color: #636e72;
    color: white;
  }
  .forgot-p {
    margin-top: 5px;

    a {
      text-decoration: none;
      color: #636e72;
    }
    a:hover {
      color: red;
    }
  }
  .login-footer {
    padding-top: 10px;
    display: flex;
    p {
      font-weight: 500;
    }
    a {
      padding-left: 5px;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
