.form-group {
  margin: 5px 7px;
  ::ng-deep .allStore {
    font-weight: 500;
    padding-right: 10px;
    color: blue;
  }
}
:host::ng-deep .p-datatable-wrapper {
  //height: 490px;
  height: calc(100vh - 150px);
}
