<div
  class="depot-container"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div fxFlex="17%">
    <app-menubar></app-menubar>
  </div>
  <div class="depot-content" fxFlex="80%">
    <p-table
      fxFlex="100%"
      [columns]="cols"
      [value]="depotItems"
      styleClass="p-datatable"
      [scrollable]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Depot Name</th>
          <th>Depot Location</th>
          <th>Admin Name</th>
          <th>Admin Email</th>
          <th>Admin Contact Number</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-depotItems>
        <tr>
          <td>{{ depotItems.depotName }}</td>
          <td>{{ depotItems.location }}</td>
          <td>
            {{ depotItems.user?.firstName + depotItems.user?.lastName }}
          </td>
          <td>{{ depotItems?.user?.email }}</td>
          <td>{{ depotItems?.user?.contactNumber }}</td>

          <td class="btn-action">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button p-button-success mr-2"
              (click)="onEditDepot(depotItems)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button p-button-danger"
              (click)="onDeleteDepot(depotItems.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
