<div
  class="container"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div fxFlex="17%">
    <!-- <app-menubar></app-menubar> -->
  </div>
  <div class="admin-content" fxFlex="80%">
    <div fxFlex fxLayout="row wrap" fxLayoutGap="20px grid">
      <app-dso-card
        fxFlex="30%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-dso-card>
      <app-dso-card
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-dso-card>
      <app-dso-card
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-dso-card>
      <app-dso-card
        fxFlex="65%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-dso-card>
      <app-dso-card
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-dso-card>
    </div>
  </div>
</div>
