.admin-menu {
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  ::ng-deep .side-menu {
    height: calc(100vh - 70px);
    width: 100%;
    //height: auto;
  }
  ::ng-deep .p-menuitem-link {
    margin-bottom: 10px;
  }
  ::ng-deep .p-menuitem-link-active {
    //margin-bottom: 10px;
    background-color: whitesmoke;
  }
  ::ng-deep .p-active-ripple {
    //margin-bottom: 10px;
    background-color: whitesmoke;
  }
  ////
  ::ng-deep .p-tieredmenu .p-menuitem-link .p-menuitem-text {
    font-size: 14px;
    font-weight: 500;
  }
}
