<p-toast styleClass="toast"></p-toast>
<div
  class="upload-budget-container"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div fxFlex="17%">
    <app-menubar></app-menubar>
  </div>
  <div class="upload-budget-content" fxFlex="81.5%">
    <div class="upload-space" fxFlex="100%">
      <div class="upload-details" fxFlex fxLayout fxLayoutGap="10px">
        <div class="drag-drop" fxFlex="50%">
          <i
            class="pi pi-fw pi-cloud-upload icon-style"
            style="font-size: 5rem"
          ></i>
          <p class="para">Drag and Drop files to upload</p>
          <p class="para">or</p>
          <input (change)="selectFile($event)" type="file" />
          <button
            (click)="uploadFile()"
            pButton
            type="submit"
            label="Upload"
          ></button>
          <p class="footer">Supported files:EXCEL</p>
        </div>
        <div class="upload-list" fxFlex="50%">
          <uL>
            <li *ngIf="fileUploaded" class="list-item" fxFlex fxLayout="row">
              <i
                fxFlex="20%"
                class="pi pi-fw pi-file-excel excel-icon"
                style="font-size: 3rem"
              ></i>
              <p-progressBar
                *ngIf="fileUploaded"
                fxFlex="80%"
                class="list-bar"
                [value]="value"
              ></p-progressBar>
            </li>
          </uL>
          <div style="padding: 10px" *ngIf="!fileUploaded">
            <h1 style="font-size: 16px">No File In DataBase</h1>
          </div>
          <div class="uploaded-File-Details" *ngIf="fileUploaded">
            <p>File Name:{{ uploadedFiles.name }}</p>
            <p>File Size:{{ uploadedFiles.size }}</p>
            <p>Uploaded Time:{{ todayTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
