<div
  class="specific-depot-container"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div fxFlex="17%">
    <!-- <app-menubar></app-menubar> -->
  </div>
  <div class="specific-depot-content" fxFlex="80%" fxLayout="column">
    <div style="width: 400px; margin-bottom: 5px" class="col-12 md:col-4">
      <div class="p-inputgroup">
        <input
          style="height: 40px; margin-bottom: 5px"
          type="text"
          pInputText
          placeholder="Depot Id"
          [(ngModel)]="depotId"
        />
        <button
          style="height: 40px; margin-bottom: 5px"
          type="button"
          pButton
          pRipple
          label="Search Depot"
          (click)="sendDepotId()"
        ></button>
      </div>
    </div>
    <app-depot-wise-data-tables fxFlex="100%" [depotData]="dataItems">
    </app-depot-wise-data-tables>
  </div>
</div>
