<p-tabView>
  <p-tabPanel header="PDF REVIEW">
    <div class="container" fxFlex fxLayout="column">
      <div>
        <p-toolbar>
          <div class="p-toolbar-group-left toolbar-header">Product Invoice</div>

          <div class="p-toolbar-group-right">
            <div>
              <p>Square Health Limited</p>
              <p>Mohakhali,Dhaka</p>
            </div>
          </div>
        </p-toolbar>
        <hr style="width: 100%; text-align: left; margin-left: 0" />
      </div>

      <div
        class="address-info"
        fxLayout
        fxLayoutAlign="center"
        fxLayoutGap="20px "
      >
        <div fxFlex="50%">
          <div>
            <p style="background-color: whitesmoke">From To:</p>
            <p>SSU Name: DSO</p>
            <p>Admin Name: {{ this.loginUserData.firstName }}</p>
            <p>Address:XXXXXX</p>
            <p>Contact:{{ this.loginUserData.contactNumber }}</p>
            <p>Email:{{ this.loginUserData.email }}</p>
          </div>
        </div>
        <div fxFlex="50%">
          <div>
            <p style="background-color: whitesmoke">Ship To:</p>
            <p>Depot Name: Depotxyz</p>
            <p>Admin Name: Md.XXXXXXXX</p>
            <p>Address: XXXXXX</p>
            <p>091-197-6734</p>
            <p>Admin@gmail.com</p>
          </div>
        </div>
      </div>
      <div style="margin-top: 40px">
        <p-table
          [columns]="cols"
          [value]="shippingInfo"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div style="margin-top: 40px; margin-bottom: 40px">
        <p-table [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Qty</th>
              <th>Product name</th>
              <th>Product Description</th>
              <th>Product Size</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.quantity }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div>
        <p style="font-size: 14px">Notes: Handle with Care</p>
      </div>
      <div style="margin-top: 80px" fxFlex fxLayout>
        <div fxFlex="50%">
          <hr style="width: 70%; margin-left: 0; text-align: left" />
          <p style="font-size: 14px">SSU Admin</p>
        </div>

        <div fxFlex="50%">
          <hr style="width: 70%; margin-right: 0; text-align: right" />
          <p style="text-align: right; font-size: 14px">Depot Admin</p>
        </div>
      </div>
      <button
        style="width: 100px; background-color: #636e72"
        pButton
        type="button"
        class="p-button-sm"
        label="Print"
        (click)="onPrintPage()"
      ></button>
    </div>
  </p-tabPanel>
  <p-tabPanel header="FORM INPUT">
    <div class="container" fxFlex fxLayout="column">
      <div>
        <p-toolbar>
          <div class="p-toolbar-group-left toolbar-header">Product Invoice</div>

          <div class="p-toolbar-group-right">
            <div>
              <p>Square Health Limited</p>
              <p>Mohakhali,Dhaka</p>
            </div>
          </div>
        </p-toolbar>
        <hr style="width: 100%; text-align: left; margin-left: 0" />
      </div>

      <h2>Shipping Information</h2>
      <form
        [formGroup]="shippingInformationForm"
        (ngSubmit)="onAddShippingInformation()"
        fxFlex
        fxLayout="row wrap"
        fxLayoutGap="10px grid"
      >
        <span class="p-float-filled" fxFlex="50%">
          <label for="date">Shipping Date</label>
          <input
            id="float-input"
            pInputText
            type="date"
            mask="99/99/9999"
            placeholder="99/99/9999"
            slotChar="mm/dd/yyyy"
            formControlName="date"
          />
        </span>

        <span class="p-float-filled" fxFlex="50%">
          <label for="vehicleNumber">Vehicle Number</label>
          <input
            id="float-input"
            type="text"
            pInputText
            formControlName="vehicleNumber"
          />
        </span>
        <span class="p-float-filled" fxFlex="50%">
          <label for="driverName">Driver Name</label>
          <input
            id="float-input"
            type="text"
            pInputText
            formControlName="driverName"
          />
        </span>
        <span class="p-float-filled" fxFlex="50%">
          <label for="driverMobile">Driver Mobile</label>
          <input
            id="float-input"
            type="number"
            pInputText
            formControlName="driverMobile"
          />
        </span>
      </form>
      <button
        style="width: 100px; margin: 5px; background-color: #636e72"
        pButton
        type="button"
        class="p-button-sm"
        label="Submit"
        (click)="onAddShippingInformation()"
      ></button>
    </div>
  </p-tabPanel>
</p-tabView>
