<div
  class="container"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div fxFlex="17%">
    <app-menubar></app-menubar>
  </div>
  <div class="admin-content" fxFlex="80%">
    <div fxFlex fxLayout="row wrap" fxLayoutGap="20px grid">
      <app-dashboard-card
        fxFlex="30%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-dashboard-card>
      <app-product-summary-card
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-product-summary-card>
      <app-field-officer-status-card
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-field-officer-status-card>
      <app-product-summary-graph-card
        fxFlex="65%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-product-summary-graph-card>
      <app-budget-ratio-pie-chart-card
        fxFlex="35%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
      ></app-budget-ratio-pie-chart-card>
    </div>
  </div>
</div>
