.depot-container {
  ::ng-deep .p-dialog-header-icon {
    padding: 0px;
  }
  h2 {
    padding: 8px;
  }

  label {
    margin: 10px;
  }
  ::ng-deep .input-row {
    width: 90%;
    margin: 5px;
  }
  ::ng-deep .input-column {
    width: 90%;
    margin: 5px;
  }

  button {
    font-size: medium;
    margin-top: 24px;
    margin-left: 10px;
    background-color: #636e72;
    height: 45px;
    width: 90%;
  }
}
