.budget-container {
  width: 100%;
  height: 100%;
  .show-budget-content {
    margin: 10px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    ::ng-deep .p-inputtext {
      width: 160px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
    }
    ::ng-deep .p-dropdown-item {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .form-group {
    margin-left: 5px;
    ::ng-deep label {
      font-size: 14px;
      font-weight: 500;
      padding-right: 10px;
      color: blue;
    }
  }
}
