.forgotPass1 {
  position: absolute;
  top: 15%;
  left: 35%;
  border-radius: 10px;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  width: 400px;
  height: 280px;
  input {
    width: 95%;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .all-btn {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 14px;
  }
}

.check-otp-component {
  width: 400px;
  height: 120px;
  background-color: white;
  position: absolute;
  top: 65%;
  left: 35%;
  border-radius: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  input {
    height: 45px;
    width: 250px;
  }
  button {
    height: 45px;
    width: 100px;
    margin-left: 10px;
    background-color: #636e72;
  }
}
